* {
    margin:0px;
    padding:0px;
  }
body{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/998c1c50-6aaa-4795-ab62-9190a025d529/b9883521-f439-4c16-b5eb-b1719e2fece1/ZA-en-20191203-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    color:white;
}
#all_box{
    background-color: rgba(0, 0, 0, 0.3);
    margin:30px 100px;
}
#title{
    text-align: center;
    font-size:50px;
    font-family:"Bowlby One SC", cursive;
    padding-top:15px;
    letter-spacing: 5px;
    color: white;
}
span{
    color:red;
}
#h3{
    text-align: center;
    font-size:25px;
    font-family: "Sorts Mill Goudy", sans-serif;
    color:white;
    margin-bottom:15px;
}
#form{
    background-color: rgba(0, 0, 0, 0.7);
    width:500px;
    height:auto;
    margin:auto;
    padding-top:10px;
    color:white;
}
#name,#number,#email,#dropdown{
    margin-top:16px;
    height:35px;
    width:400px;
    border:none;
    padding:10px;
}
.form_box{
    margin-top:20px;
    margin-left:40px;
}
.form_box_textarea{
    padding:40px;

}
#submit{
    font-size:larger;
    margin: 16px 0px 16px 150px;
    height:45px;
    width:160px;
    border:none;
    background-color: red;
    color:white;
    border-radius: 50px;
    font-size:20px;
    cursor:pointer;
}
#submit:hover{
    background-color: white;
    color:red;
}